<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
    
    <script src="//code.jquery.com/jquery-2.2.3.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <script src="/semantic/dist/semantic.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/CSS/home.css">
    <script type='text/javascript' src="/JS/home.js"></script
  </head>
  <body>
  
    <div id="banner">
        <p id="logo"><a href='/'>ServiceOne</a/></p>
        
        <ul>
            <li>
                <p><%= user %></p>
            </li>
            
            <li>
                <p>|</p> 
            </li>
                
            <li>
                <input type="submit" value="Logout"/>
            </li>
        </ul>
    </div>
  
  
  <div class="ui container" id="main">
    <div class="ui three column center aligned grid">
        <div class="four wide column">
            <img class="ui image rounded" id="userProfileImage" src="/home/userImage">
            <input class="ui button" id="profilePic" type="file" accept="image/*"><br>
            <button class="ui button" id="uploadPic">Upload Pic</button>
        </div>
        
        <div class="four wide column">
            <h1 class="ui header">Organizations</h1>
            <div class="ui list">
                <% for(var i = 0; i < organizations.length; i++){ %>
                    <div class="item">
                        <a href="/organization/<%= organizations[i].name %>"><%= organizations[i].name %></a>
                    </div>
                <% } %>
            </div>
        </div>
        
        <div class="four wide column">
            <h1 class="ui header">Upcoming Events</h1>
            <div class="ui list">
                <% for(var i = 0; i < events.length; i++){ %>
                    <div class="item">
                        <%= events[i].name %><br>
                        <%= events[i].startDate.getDate() + " " + events[i].startDate.getMonth()  + ", " + events[i].startDate.getHours() + ":" + events[i].startDate.getMinutes()%><br>
                        <%= events[i].endDate.getDate() + " " + events[i].endDate.getMonth()  + ", " + events[i].endDate.getHours() + ":" + events[i].endDate.getMinutes()%>
                    </div>
                <% } %>
            </div>
        </div>
        
        <div class="row">
            <div class="four wide column">
                <a href="/signIn">Sign In Link</a>
            </div>
            
            <div class="four wide column">
            
            </div>
        
            <div class="four wide column">
                <h1 class="ui header">Near Events</h1>  
            </div>
        </div>
    </div>
  </div>
  

  
  
  
  
  <!-- <div id="main">
    
    <div id="temp">
        <table>
            <tr>
                <td>
                    <img id="userProfileImage" src="/home/userImage">
                    <input id="profilePic" type="file" accept="image/*"><br>
                    <button id="uploadPic">Upload Pic</button>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/signIn">Sign In Link</a>
                </td>
            </tr>
        </table>
    </div>
  
    <div id="organizations">
        <p>Organizations</p>
        <% for(var i = 0; i < organizations.length; i++){ %>
            <li>
                <a href="/organization/<%= organizations[i].name %>"><%= organizations[i].name %></a>
            </li>
        <% } %>
    </div>
    
    <div id="events">
        <table>
            <tr>
                <td id="upcomingEvents">
                    <p>Calendar - Upcoming Events</p>
                    <% for(var i = 0; i < events.length; i++){ %>
                        <li>
                            <%= events[i].name %><br>
                            <%= events[i].startDate %><br>
                            <%= events[i].endDate %>
                        </li>
                    <% } %>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="nearEvents">
                        <p>Calendar - Near Events</p>  
                    </div>
                </td>
            </tr>
        <table>
    </div> -->
  
  </body>
</html>