<!DOCTYPE html>
<html>
  <head>

  <!-- organization image does not need to loaded twice, once on main page and once on settings page.  I can probably improve this -->

    <meta charset="UTF-8">
    <title>title</title>
    
    <script src="//code.jquery.com/jquery-2.2.3.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <script src="/semantic/dist/semantic.min.js"></script>
        
    <link rel="stylesheet" type="text/css" href="/CSS/organization.css">
  
    <script type='text/javascript' src="/JS/organization.js"></script>
    
    <!-- <script type="text/javascript" src="/JS/support/jquery.simple-dtpicker.js"></script>
	<link type="text/css" href="/CSS/support/jquery.simple-dtpicker.css" rel="stylesheet"/> -->
  </head>
  <body> 
       <div id="banner">
        <p id="logo"><a href='/'>ServiceOne</a/></p>
        
        <% if(user != null){ %>
            <ul>
                <li>
                    <p><%= user.username %></p>
                </li>
                
                <li>
                    <p>|</p> 
                </li>
                    
                <li>
                    <input type="submit" value="Logout"/>
                </li>
            </ul>
        <% } %>
    </div>
    
    <div class="ui container">
        <div class="ui two column left aligned divided grid">
            <div class="four wide column">
                <img class="ui medium image" src="organizationImage">
            </div>
            
            <div class="column">
                <div class="ui top attached tabular menu">
                    <a class="item active" data-tab="first">Events</a>

                    <% if(statusNumber > 1){ %>
                        <a class="item" data-tab="second">Members</a>
                        
                        <% if(statusNumber == 3){ %>
                            <a class="item" data-tab="third">Create Events</a>
                            <a class="item" data-tab="fourth">Settings</a>
                        <% } %>
                    <% } %>
                </div>
                
                <div class="ui bottom attached active tab segment" data-tab="first">
                    <div class="ui list">
                        <% for(var i = 0; i < events.length; i++){ %>
                            <div class="item">
                                <div class="ui card">
                                    <div class="content">
                                        <div class="header">
                                            <%= events[i].name %>
                                        </div>
                                        
                                        <div class="description">
                                            description
                                        </div>
                                    </div>
                                    
                                    <div id=<%= events[i]._id %> class="RSVP ui bottom attached button">
                                        RSVP
                                    </div>
                                    
                                    <% if (statusNumber == 3){ %>
                                        <div id=<%= events[i]._id %> class="Edit ui bottom attached button">
                                            Edit
                                        </div>
                                    <% } %>
                                    
                                </div>
                            </div>
                        <% } %>
                    </div>
                
                
                    <!-- <ul>
                        <% for(var i = 0; i < events.length; i++){ %>
                            <li id=<%= events[i]._id %>><%= events[i].name %><button class="Events">Going</button>
                            <% if(statusNumber == 3){%>
                                <button class="editEvent">Edit</button>
                            <% } %>
                            </li>
                        <% } %>
                    </ul>-->
                </div>
                
                <% if(statusNumber > 1){ %>
                    <div class="ui bottom attached tab segment" data-tab="second">
                        <table>
                            <tr>
                                <th>Member name</th>
                                <th>Hours</th>
                            </tr>
                            
                            <% for(var i = 0; i < members.length; i++){ %>
                                <tr>
                                    <td><%= members[i].username %></td>
                                    <td><%= members[i].memberOrganizationAssociation[0].hours %></td>
                                </tr>
                            <% } %>
                        </table>
                    </div>
                    
                    <% if(statusNumber == 3){ %>
                        <div class="ui bottom attached tab segment" data-tab="third">
                            <label for="name">Event Name:</label>
                            <input id="name" required><br>
                            
                            <label for="sDate">Start Date :</label>
                            <input id="sDate" required/><br>
                            
                            <label for="eDate">End Date:</label>
                            <input id="eDate" required/><br>
                            
                            <label for="eventPhoto">Upload Event Photo: </label>
                            <input id="eventPhoto" type="file" accept="image/*"><br>
                        
                            <label for="public">Public:</label>
                            <input id="public" type="checkbox" required/><br>
                            
                            <button id="submitEvent">submit event</button>
                        </div>

                        <div class="ui bottom attached tab segment" data-tab="fourth">
                            <button id="updateImage">update image</button>
                        </div>
                    <% } %>
                <% } %>
            </div>
            
             <div class="row">
                <div class="left floated three wide column">
                    <p> <%= summary %></p>
                </div>
            </div>
        </div>
    </div>

    <div class="ui modal" id="imageModal">
        <div class="header">
            Organization Image
        </div>
        <div class="image content">
            <div class="ui medium image">
                <img src="organizationImage">
            </div>
            <div class="description">
                <div class="ui header">Select an image</div>
                <input id="organizationProfileImage" type="file" accept="image/*"><br>
                <button id="uploadPic">Upload Pic</button>
            </div>
        </div>
    </div>
    
    <!-- 
    <h1><%= name %> </h1>
    
    <p> <%= summary %></p>
    
    <% if(statusNumber == 1) {%>
        <button id="join">join</button>
    <% } %>
    
    <% if(statusNumber == 3){%>
        <div>
            <p>Create Events - will be moved to a dialog</p>
            
            <label for="name">Event Name:</label>
            <input id="name" required><br>
            
            <label for="sDate">Start Date :</label>
            <input id="sDate" required/><br>
            
            <label for="eDate">End Date:</label>
            <input id="eDate" required/><br>
            
            <label for="eventPhoto">Upload Event Photo: </label>
            <input id="eventPhoto" type="file" accept="image/*"><br>
          
            <label for="public">Public:</label>
            <input id="public" type="checkbox" required/><br>
            
          <button id="submitEvent">submit event</button>
        </div>
        
        <div>
            <p>Members</p>
            <table>
            <tr>
                <th>Member name</th>
                <th>Hours</th>
            </tr>
            
            <% for(var i = 0; i < members.length; i++){ %>
                <tr>
                    <td><%= members[i].username %></td>
                    <td><%= members[i].hours %></td>
                </tr>
            <% } %>
            </table>
        </div>
    <% } %>
    
    
    <% if(statusNumber > 1){%>
        <div>
            <p>Events</p>
            <ul>
            <% for(var i = 0; i < events.length; i++){ %>
                <li id=<%= events[i]._id %>><%= events[i].name %><button class="Events">Going</button>
                <% if(statusNumber == 3){%>
                    <button class="editEvent">Edit</button>
                <% } %>
                </li>
            <% } %>
            </ul>
        </div>
     <% } %>
     -->
  </body>
</html>