<!DOCTYPE html>
<html>
    <head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>Fixed Menu Example - Semantic</title>


    <script src="//code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="/semantic/dist/semantic.js"></script>
    <script src="/JS/organization.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBexpa9vkX0-EUBAHwMTxxDm6tBuU1GJyY&libraries=places"
        async defer></script>

    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.css">
    <style type="text/css">
    body {
        background-color: #FFFFFF;
    }

    .column{
        !border: black 1px solid;
    }

    #mainView{
        margin-top: 5em;
    }
    </style>

    </head>
    <body>

        <div class="ui fixed inverted menu">
            <div class="ui container">
                <a href="/" class="header item">
                    Service One
                </a>

                <% if (statusNumber > 0){ %>
                    <div class="ui simple dropdown item">
                        Organizations <i class="dropdown icon"></i>
                        <div class="menu">
                            <% for(var i = 0; i < user.memberOf.length; i++){ %>
                                <a class="item" href="/organization/<%= user.memberOf[i].nicknamename %>"><%= user.memberOf[i].name %></a>
                            <% } %>
                        </div>
                    </div>
                
                    <a class="right item"><%= user.first_name %></a>
                <% } %>
            </div>
        </div>


        <div class="ui three column grid container" id="mainView">
            <div class="row">
                <div class="column">
                    <p><%= org.name %>(<%= org.nickname %>)</p>
                    <img class="ui medium image" src="organizationImage">
                    
                </div>

                <div class="column">
                    <% if(statusNumber == 1){ %>
                        <button class="ui button" id="join">Join</button>
                    <% } %>

                    <p> <%= summary %></p>

                    <h2 class="ui sub header">
                        Contact Email
                    </h2>
                    <span>Not set yet</span>
                </div>

                <div class="column">

                <% if (statusNumber === 3){ %>
                    <div class="ui list">
                        <div class="item"><button class="ui button" id="orgUpdateImg">Update Image</button></div>
                        <div class="item"><button class="ui button" id="createEvent">Create Event</button></div>
                        <div class="item"><button class="ui button" id="orgSettings">Organization settings</button></div>
                        <div class="item"><button class="ui button" id="joinCheck">Check Applications</button></div>
                    </div>
                <% } %>
                </div>
            </div>
            
            <div class="column">
                <h1>Events</h1>
                <div class="ui vertical menu" id="eventMenu">
                    <% for(var i = 0; i < events.length; i++){ %>
                        <div class="ui simple dropdown item" id="<%= events[i]._id %>">
                            
                            <%= events[i].name %>

                            
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <% if(statusNumber == 3){ %>
                                    <a class="item" id="edit">Edit Event</a>
                                    <a class="item" id="view">View Details</a>
                                <% } %>

                                <% if(statusNumber >= 2){ %>
                                    <% if(events[i].RSVPCheck){ %>
                                        <a class="item" id="RSVP">RSVP</a>
                                    <% }else{ %>
                                        <a class="red item" id="RSVP" name="<%= events[i].RSVPCheck %>">Leave</a>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                    <% } %>

                </div>
            </div>

            <% if(statusNumber > 1){ %>
                <div class="column">
                    <h1>Members</h1>

                    <table class="ui celled table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>hours</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i = 0; i < members.length; i++){ %>
                            <tr id="<%= members[i]._id %>" >
                                <td>
                                    <%= members[i].first_name %>
                                </td>
                                <td>
                                    <%= members[i].memberOrganizationAssociation[0].hours %>
                                </td>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            <% } %>

            <div class="column">
                <h1>Service Report</h1>

                <h2 class="ui sub header">
                    Individual Service Goal
                </h2>
                <span>
                    <% if(statusNumber >= 2){ %>
                        <% if(org.individualServiceGoal){ %>
                            <%= org.individualServiceGoal %>
                        <% }else{ %>
                            Not set yet
                        <% } %>
                    <% } %>
                </span>

                <h2 class="ui sub header">
                    Organization Service Goal
                </h2>
                <span>
                    <% if(statusNumber >= 2){ %>
                        <% if(org.OrganizationServiceGoal){ %>
                            <%= org.OrganizationServiceGoal %>
                        <% }else{ %>
                            Not set yet
                        <% } %>
                    <% } %>
                </span>

                <h2 class="ui sub header">
                    Your Total Hours
                </h2>
                <span>Not set yet</span>
            </div>
        </div>

    <div class="ui modal" id="imageModal">
        <div class="header">
            Organization Image
        </div>
        <div class="image content">
            <div class="ui medium image">
                <img src="organizationImage">
            </div>
            <div class="description">
                <div class="ui header">Select an image</div>
                <input id="organizationProfileImage" type="file" accept="image/*"><br>
                <button id="uploadPic">Upload Pic</button>
            </div>
        </div>
    </div>

    <div class="ui modal" id="newEventModal">
        <div class="header">
            New Event
        </div>
        <div class="content">

            <form class="ui form">
                <div class="field">
                    <label>EventName</label>
                    <input type="text" id="name">
                </div>

                <div class="field">
                    <label>Description</label>
                    <textarea id="description"></textarea>
                </div>

                <div class="field">            
                    <label>Location</label>
                    <input id="autocomplete" onFocus="geolocate()" type="text"></input>
                </div>

                <div class="field">
                    <label>Start Date</label>
                    <input type="date" id="sDate"></input>
                </div>

                <div class="field">
                    <label>End Date</label>
                    <input type="date" id="eDate">
                </div>

                <div class="field">
                    <label>Event Photo</label>
                    <input id="eventPhoto" type="file" accept="image/*">
                </div>

                <div class="field">
                    <div class="ui toggle checkbox">
                        <label>Public</label>
                        <input type="checkbox" tabindex="0" class="hidden" id="public">
                    </div>
                </div>
            </form>

            <button class="ui button" id="submitEvent">submit event</button>
        </div>
    </div>

    <div class="ui modal" id="memberInfoModal">
        <div class="header">
            Member Info
        </div>

        <div class="medium image content">
            <div class="ui medium image">
                <img id="userImg">
            </div>

            <div class="description">
                <div class="ui list">
                    <div class="item">
                        <div class="ui header">
                            Name
                        </div>
                        <div class="content"  id="userName"></div>
                    </div>
                    
                    <div class="item">
                        <div class="header">
                            Email
                        </div>
                        <div class="content" id="userEmail"></div>
                    </div>

                    <div class="item">
                        <div class="header">
                            Hours
                        </div>
                        <div class="content" id="userHours"></div>
                    </div>

                    <% if(statusNumber === 3){ %>
                        <div class="ui selection dropdown">
                            <i class="dropdown icon"></i>
                            <div class="default text">Member Status</div>

                            <div class="menu" id="statusMenu"></div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <div class="ui basic modal" id="statusChangeConfirmation">
        <div class="header">
            Change Member Status?
        </div>

        <div class="content">
            <div class="description"></div>
        </div>

        <div class="actions">
            <div class="two fluid ui inverted buttons">
                <div class="ui cancel red basic inverted button">
                    <i class="remove icon"></i>
                    No
                </div>
                <div class="ui ok green basic inverted button" id="statusConfirmed">
                    <i class="checkmark icon"></i>
                    Yes
                </div>
            </div>
        </div>
    </div>

    <div class="ui modal" id="eventInfoModal">
        <div class="header">
            Event Info
        </div>

        <div class="medium image content">
            <div class="ui medium image">
                <img id="eventImg">
            </div>

            <div class="description">
                <div class="ui list">
                    <div class="item">
                        <div class="ui header">
                            Event Name
                        </div>
                        <div class="content" id="eventName"></div>
                    </div>

                    <div class="item">
                        <div class="ui header">
                            Description
                        </div>
                        <div class="content" id="eventDescription"></div>
                    </div>

                    <div class="item">
                        <div class="ui header">
                            Time
                        </div>
                        <div class="content" id="eventTime"></div>
                    </div>

                    <div class="item">
                        <div class="ui header">
                            Location
                        </div>
                        <div class="content" id="eventLocation"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% if(statusNumber === 3){ %>
        <div class="ui modal" id="eventEditModal">
            <div class="header">
                Event Edit
            </div>

            <div class="medium image content">
                <div class="ui medium image">
                    <img id="eventImgEdit">
                </div>
            

                <div class="description">
                    <div class="ui list">
                        <div class="item">
                            <div class="ui header">
                                Event Name
                            </div>
                            <div class="content">
                                <div class="ui input">
                                    <input id="eventNameInput" type="text"></input>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="ui header">
                                Description
                            </div>
                            <div class="content">
                                <div class="ui input">
                                    <input id="eventDescriptionInput" type="text"></input>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="ui header">
                                Start Date
                            </div>
                            <div class="content">
                                <div class="ui input">
                                    <input id="eventStartInput" type="text"></input>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="ui header">
                                End Date
                            </div>
                            <div class="content">
                                <div class="ui input">
                                    <input id="eventEndInput" type="text"></input>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="ui header">
                                Location
                            </div>
                            <div class="content">
                                <div class="ui input">
                                    <input id="autocompleteEdit" onFocus="geolocate()" type="text"></input>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="ui header">
                                Event Image
                            </div>
                            <div class="content">
                                <input id="newEventImage" type="file" accept="image/*"><br>
                            </div>
                        </div>

                        <div class="item">
                            <button class="ui button" id="eventEditSubmit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui modal" id="eventViewModal">
            <div class="header">
                Event View
            </div>

            <div class="content">
                <table class="ui celled table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>SignIn Date</th>
                            <th>Signout Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="ui modal" id="orgSettingsModal">
            <div class="header">
                Organization Settings
            </div>

            <div class="content">

                <div class="ui relaxed divided list">
                    <div class="item">
                        <form class="ui form"  action="changeOrganizationName" method="POST">
                            <div class="inline field">
                                <label>Organization Name</label>
                                <input type="text" id="settingsOrgName" name="name"></input>
                            </div>

                            <button class="ui button" type="submit">Change</button>
                        </form>
                    </div>

                    <div class="item">
                        <form class="ui form"  action="changeOrganizationNickname" method="POST">
                            <div class="inline field">
                                <label>Organization Nickname</label>
                                <input type="text" id="settingsOrgNickname" name="nickname"></input>
                            </div>

                            <button class="ui button" type="submit">Change</button>
                        </form>
                    </div>

                    <div class="item">
                        <form class="ui form"  action="changeIndividualGoalHours" method="POST">
                            <div class="inline field">
                                <label>Individual Service Goal</label>
                                <input type="number" id="individualGoal" name="individualGoal"></input>
                            </div>

                            <button class="ui button" type="submit">Change</button>
                        </form>
                    </div>

                    <div class="item">
                        <form class="ui form"  action="changeOrganizationGoalHours" method="POST">
                            <div class="inline field">
                                <label>Organization Service Goal</label>
                                <input type="number" id="organizationGoal" name="organizationGoal"></input>
                            </div>

                            <button class="ui button" type="submit">Change</button>
                        </form>
                    </div>

                    <div class="item">
                        <div class="inline field">
                            <label>Users have to apply to join(wording needs work)</label>
                            <div class="ui toggle checkbox">
                                <input type="checkbox" class="hidden" id="joinOption">    
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <form class="ui form"  action="changeOrgEmail" method="POST">
                            <div class="inline field">
                                <label>Contact Email</label>
                                <input type="text"></input>
                            </div>

                            <button class="ui button" type="submit">Change</button>
                        </form>
                    </div>

                    <div class="item">
                        <button class="ui button">Delete Organization</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui modal" id="joinCheckModal">
            <div class="header">
                Manage Applications
            </div>

            <div class="content">
                <div class="ui middle aligned divided list">

                </div>
            </div>
        </div>
    <% } %>

    </body>
</html>