<!DOCTYPE html>
<html>
    <head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>Fixed Menu Example - Semantic</title>

    <script src="//code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="/semantic/dist/semantic.js"></script>
    <script src="/JS/organization.js"></script>

    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.css">
    <style type="text/css">
    body {
        background-color: #FFFFFF;
    }

    .column{
        !border: black 1px solid;
    }

    #mainView{
        margin-top: 5em;
    }
    </style>

    </head>
    <body>

        <div class="ui fixed inverted menu">
            <div class="ui container">
                <a href="/" class="header item">
                    Service One
                </a>

                <% if (statusNumber > 0){ %>
                    <div class="ui simple dropdown item">
                        Organizations <i class="dropdown icon"></i>
                        <div class="menu">
                            <% for(var i = 0; i < user.memberOf.length; i++){ %>
                                <a class="item" href="/organization/<%= user.memberOf[i].name %>"><%= user.memberOf[i].name %></a>
                            <% } %>
                        </div>
                    </div>
                
                    <a class="right item"><%= user.first_name %></a>
                <% } %>
            </div>
        </div>


        <div class="ui three column grid container" id="mainView">
            <div class="row">
                <div class="column">
                    <p><%= name %></p>
                    <img class="ui medium image" src="organizationImage">
                    <p> <%= summary %></p>
                </div>
                <div class="right floated column">
                <p>contact organization(what other things should be here?)</p>

                <% if (statusNumber === 3){ %>
                    <button class="ui button" id="orgUpdateImg">Update Image</button>
                    <button class="ui button" id="createEvent">Create Event</button>
                    <button class="ui button">Organization settings</button>
                <% } %>
                </div>
            </div>
            
            <div class="column">
                <h1>Events</h1>
                <div class="ui vertical menu" id="eventMenu">
                    <% for(var i = 0; i < events.length; i++){ %>
                        <div class="item">
                            <%= events[i].name %>

                            <div class="ui button">Edit</div>
                            <div class="ui button">Admin View</div>
                        </div>
                    <% } %>

                </div>
            </div>

            <% if(statusNumber > 1){ %>
                <div class="column">
                    <h1>Members</h1>

                    <table class="ui celled table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>hours</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i = 0; i < members.length; i++){ %>
                            <tr id="<%= members[i]._id %>" >
                                <td>
                                    <%= members[i].first_name %>
                                </td>
                                <td>
                                    <%= members[i].memberOrganizationAssociation[0].hours %>
                                </td>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            <% } %>

            <div class="column">
                <% if(statusNumber == 1){ %>
                    <button class="ui button" id="join">Join</button>
                <% } %>
            </div>

            <div class="right floated column">
                <h1>Service Report</h1>
            </div>
        </div>

    <div class="ui modal" id="imageModal">
        <div class="header">
            Organization Image
        </div>
        <div class="image content">
            <div class="ui medium image">
                <img src="organizationImage">
            </div>
            <div class="description">
                <div class="ui header">Select an image</div>
                <input id="organizationProfileImage" type="file" accept="image/*"><br>
                <button id="uploadPic">Upload Pic</button>
            </div>
        </div>
    </div>

    <div class="ui modal" id="newEventModal">
        <div class="header">
            New Event
        </div>
        <div class="content">
            <label for="name">Event Name:</label>
            <input id="name" required><br>
                            
            <label for="sDate">Start Date :</label>
            <input id="sDate" required/><br>
                            
            <label for="eDate">End Date:</label>
            <input id="eDate" required/><br>
                            
            <label for="eventPhoto">Upload Event Photo: </label>
            <input id="eventPhoto" type="file" accept="image/*"><br>
                       
            <label for="public">Public:</label>
            <input id="public" type="checkbox" required/><br>
                           
            <button id="submitEvent">submit event(add feedback to user knows event has been submitted)</button>
        </div>
    </div>

    <div class="ui modal" id="memberInfoModal">
        <div class="header">
            Member Info
        </div>

        <div class="medium image content">
            <div class="ui medium image">
                <img id="userImg">
            </div>

            <div class="description">
                <div class="ui list">
                    <div class="item">
                        <div class="ui header">
                            Name
                        </div>
                        <div class="content"  id="userName"></div>
                    </div>
                    
                    <div class="item">
                        <div class="header">
                            Email
                        </div>
                        <div class="content" id="userEmail"></div>
                    </div>

                    <div class="item">
                        <div class="header">
                            Hours
                        </div>
                        <div class="content" id="userHours"></div>
                    </div>

                    <div class="ui selection dropdown">
                        <i class="dropdown icon"></i>
                        <div class="default text">Member Status</div>

                        <div class="menu" id="statusMenu"></div>
                    </div>
                    <div class="ui button">Change hours</div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui basic modal" id="statusChangeConfirmation">
        <div class="header">
            Change Member Status?
        </div>

        <div class="content">
            <div class="description"></div>
        </div>

        <div class="actions">
            <div class="two fluid ui inverted buttons">
                <div class="ui cancel red basic inverted button">
                    <i class="remove icon"></i>
                    No
                </div>
                <div class="ui ok green basic inverted button" id="statusConfirmed">
                    <i class="checkmark icon"></i>
                    Yes
                </div>
            </div>
        </div>
    </div>

    <div class="ui modal" id="eventInfoModal">
        <div class="header">
            Event Info
        </div>

        <div class="description">
            Event Name</br>
            Time</br>
            Location</br>
        </div>
    </div>

    </body>
</html>